.Intro {
    background-color: #F8F8F8;
    height: 100vh;
}

.intro {
    width: 850px;
    position: absolute;
    right: 0;
    top: 73px;
}

.introImg {
    z-index: 1;
}

.introWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font: var(--font-xl);
    font-weight: 700;
    margin-bottom: 12px;
}

.title span {
    color: var(--primary-blue);
}

.suptitle {
    margin-bottom: 42px;
}

.info {
    margin-top: 40px;
    font-size: 14px;
    color: #515151;
}

.info span {
    color: #FF4141;
}

.additional {
    margin-top: 93px;
    display: flex;
    gap: 20px;
}

.additionalItem {
    width: 150px;
    display: flex;
    align-items: center;
}

.number {
    font-size: 72px;
    margin-right: 10px;
    font-weight: 700;
    color: var(--primary-blue);
}

.text {
    font: var(--font-m);
    font-weight: 500;
}

.text span {
    color: #515151;
}