.LoginForm {
    display: flex;
    flex-direction: column;
}

.input {
    width: 400px;
    margin-bottom: 10px;
}

.title {
    font: var(--font-l);
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}
