.MastersList {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 100px;
}


.comment {
    margin-bottom: 7px;
    border: 1px solid var(--main-blue);
}

.addCom {
    width: 100%;
}