.Button {
    padding: 15px;
}

.primary {
    font: var(--font-l);
    font-weight: 700;
    padding: 15px 50px;
    background-color: var(--main-blue);
    color: #fff;
    border-radius: 40px;
    outline: none;
}