.OrderForm {
    margin-top: 100px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.input {
    margin-bottom: 15px;
}
