.OrderForm {
    margin-top: 100px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.form input {
    margin-bottom: 15px;
}

.title {
    font: var(--font-xl);
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}
