.Discount {
    height: 372px;
    margin-top: 150px;
    color: #fff;
    background-color: var(--main-blue);
}

.banner {
    padding: 70px;
    position: relative;
}

.textContent {
    width: 490px;
}

.title {
    font: var(--font-xl);
    margin-bottom: 12px;
}

.suptitle {
    font-size: 14px;
    margin-bottom: 20px;
}

.washMash {
    position: absolute;
    right: -15px;
    bottom: -20px;
}

.man {
    position: absolute;
    bottom: -23px;
    right: 226px;
}