
.header {
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.logo {
    font: var(--font-l);
    font-weight: 700;
    color: var(--primary-blue);
}

.links {
    align-items: center;
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.login {
    border: 1px solid var(--main-blue);
    padding: 3px 5px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 700;
}

.singIn {
    cursor: pointer;
    font-weight: 700;
    color: var(--main-blue);
}

.auth {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}

.user {
    font: var(--font-l);
    margin-left: auto;
    color: var(--main-blue);
}

.logout {
    padding: 3px 5px;
    border: 1px solid var(--main-blue);
    border-radius: 3px;
    margin-left: 15px;
    cursor: pointer;
}

.bonus {
    margin-left: 25px;
    font: var(--font-m);
    color: red;
}

.number {
    font: var(--font-m);
    color: var(--main-blue);
    font-weight: 700;
    margin-left: 20%;
}